.bg{
    background-image: url('../assets/frnds.gif');
    position: relative;
    width: 95%;
    margin: 4rem auto;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 50px;
    box-shadow: 10px 10px 10px rgb(0, 0, 0);


}
.description{
    color: rgb(255, 247, 0);
    font-size: 2rem;
    line-height: 1.6;
    width: 50%;
    position: absolute;
    top: 70%;
    left: 45%;
}
.copy{
    color: white;
    padding: 1rem;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: -30%;
    animation: move 10s linear infinite;
}
@keyframes god{
    0%{
        color: rgb(255, 247, 0);
    }
    55%{
        color: rgb(21, 255, 115);
    }
    100%{
        color: rgb(255, 3, 209);
    }
}
@keyframes move{
    0%{
        transform: translateX(-90%);
    }
    100%{
        transform: translateX(100%);
    }

}
