.bg{
    color: rgb(255, 251, 0);
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem auto;
    gap: 2rem;
}
input {
    width: 90vmin;
    padding: 1rem;
    font-size: 1.6rem;
    font-family: 'Press Start 2P', cursive;
    border-radius: 10px;
    background-color: #0000;
    color: rgb(0, 255, 136);
    border: 3px solid rgb(0, 255, 136);
    outline: none;
}
input:focus{
    border: 3px solid gold;
}
input[type="submit"]{
    background-color: rgb(255, 221, 0);
    color: rgb(0, 0, 0);
    border: none;
    width: 95vmin;
}
input[type="submit"]:focus{
    animation: moving 0.2s ease-in-out;
}

@keyframes moving{
    0%{
        transform: scaleX(50%);
    }
    100%{
        transform: scaleX(100%);
    }
}
